{% if societies is not empty %}
<h1>All Societies</h1>
<table 
  border="1" 
  cellspacing="0" 
  cellpadding="0"
  width="500" 
  align="center"
>
  <thead
    text-align=center"
    background-color="#333";
    padding="10px"
  >
    <tr>
      <th><a href="/societies/show/name/{{order}}">Name</a></th>
      <th><a href="/societies/show/siren/{{order}}">Siren</a></th>
      <th><a href="/societies/show/sector/{{order}}">Sector</a></th>
    </tr>
  </thead>
  <tbody>
  {% for society in societies %}
  <tr>
  
    <td><a href="/societies/view/{{society.id}}">{{ society.name }}</a></td>
    <td>{{ society.siren }} </td>
    <td>{{ society.sector }}</td>
  </tr>
  {% endfor %}

  </tbody>
</table>

<p> 
PAGE
<br> 
{% for i in 1..nbPages %}
    - <a href="/societies/show/name/{{orderActual}}/{{ i }}">{{ i }} </a>
{% endfor %}
</p>

{% else %}
  <p>No Society found.</p>
{% endif %}
